@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --text-color-white: white;
}

body {
  font-family: "Roboto", sans-serif;
}

.header  {
  background: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px; 
}


.logo {
  font-size: 24px;
  font-weight: 900;
  color:var(--text-color-white);
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  
  display: flex;
  gap: 30px;  
}

a,
.h3-text,
.signup-button {
  font-size: 18px;
  color: var(--text-color-white);
  
  /* this removes the line under the links */
  text-decoration: none; 
}

.part1 {
  background: #1f2937;
  color: var(--text-color-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  height: 385px;
  padding-top: 75px;    
}

.placeholder-box {
  background-color: grey;
  height: 230px;
  width: 550px; 
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Adding margin:0; to both h1 and h3 to reduce the space between them. */
.h1-text {
  font-size: 48px;
  font-weight: 900;
  margin: 0
}

.h3-text {
  margin: 0;
  font-weight: normal;
}

.signup-button {
  background-color: #3882f6;
  margin-top: 15px;
  width: 130px;
  height: 40px;
  border-radius: 10px;   /* To make the button with rounded corner */
  border-style: none;    /* To remove the grey border line around the button */
}

.part2 {
  height: 470px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  text-align: center; 
  padding: 25px;
}

.boxcontainer {
  width: 170px;
  height: 170px;
  border-radius: 25px;          /* To make the button with rounded corner */
  border: 5px solid #3882f6;  /* To make the box with blue border */  
  transition: 0.5s; 
}

.boxcontainer:hover {       /* When hover over any of the 4 blue boxes in part2 the boxes will become bigger */  
  width: 200px;
  height: 200px;
}

.four-boxes {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.part3 {
  height: 430px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quotes {
  padding-left: 150px;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  margin: 0;
}
.quotemaster { 
  font-size: 20px;
  margin-left: auto;
  margin-right: 20%;
  font-weight: bold;
  margin: 0;
  margin-left: 50%;;
}

.part4 {
  background-color: white;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.bluebox {
  background-color: #3882f6;
  width: 80%;
  border-radius: 10px;  
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
}

.textcontainer { 
  color: white;   
}

.call2 {
  font-weight: lighter;
  margin: 3px;
  font-size: medium;
  color: #e5e7eb;
}

.call1 {
  margin: 0;
}

.bottom-signup-button {
  background-color: #3882f6;
  color: white;
  width: 130px;
  height: 40px;
  border-radius: 10px;   /* To make the button with rounded corner */
  border-style: none;    /* To remove the grey border line around the button */
  border: 2px solid white;
  font-size: large;
}

.footer {
  background-color: #1f2937;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.footer p {
  color: white;  
}